@model AccountLoginViewModel
@{
    ViewBag.Title = "Login";
}
<br><br>
    <div class="container my-5">
        <h2 class="pt-5 text-center">
                User Login
        </h2>
        <form asp-action="Login" asp-controller="Account" method="POST">
            <div class="form-row">
                 <div class="form-group col-12">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div> 

             <div class="form-row">
                 <div class="form-group col-12">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div> 

             <div class="form-row">
                 <div class="form-group col-12">
                    <label asp-for="Remember"></label>
                    <input class="custom-checkbox" asp-for="Remember" />
                  </div>
            </div>   
               
             <div class="form-row">
                 <div class="form-group col-12">
                   <button type="submit" class="btn btn-primary">Login</button>
                 </div>
             </div>
                  <div asp-validation-summary="All" class="text-danger"></div>          
            </form>
        </div>  
</div>